@model IEnumerable<reserva3.Models.Paquete>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePaquete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdhabitacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdservicioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePaquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdhabitacionNavigation.Idhabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdservicioNavigation.Idservicio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idpaquete">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idpaquete">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idpaquete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
